@keyframes gradient{
    0% {background-color: rgb(193, 226, 231)}
    20% {background-color: rgb(215, 226, 184);}
    40% {background-color: rgb(221, 169, 162);}
    60% {background-color: rgb(216, 162, 180);}
    80% {background-color: rgb(181, 173, 223);}
    100% {background-color: rgb(193, 226, 231)}
}
body {
    background-color: rgb(193, 226, 231);
    animation-name: gradient;
    animation-duration: 60s;
    animation-iteration-count: infinite;
}

#flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

#Board{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

table{
    border-collapse: collapse;
    border-spacing: 0px;
    height: 640px;
    margin:10px;
}

td{
    height: 80px;
    width: 80px;
    text-align: center;
    font-size: 50px;
    user-select: none;
}

.white{
    background-color: rgb(255, 255, 255);
}
.black{
    background-color: rgb(138, 138, 138);
}

#evalbar{
    height: 600px;
    width:50px;
    background: linear-gradient(180deg,rgb(138, 138, 138) 0%, rgb(138, 138, 138) 50%,white 50%, white 100%);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif; 
    -webkit-text-stroke: 1.3px black;
    margin:10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#flip{
    width: 25px;
    height: 25px;
    background-color: white;
    margin:10px;
}

#BlackTimer{
    width: 80px;
    height: 45px;
    line-height: 40px;
    background-color: rgb(138, 138, 138);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif; 
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 10px;
}
#WhiteTimer{
    width: 80px;
    height: 45px;
    line-height: 40px;
    background-color: white;
    color: black;
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif; 
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 10px;
}